/* styles.css */
#main{
    height: 70vh;
    width: 70vw;
}
#container {
    position: absolute;
    top: 10%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 130px;
    height: 130px;
}

@keyframes animation {
    0% {
        stroke-dasharray: 1 98;
        stroke-dashoffset: -105;
    }

    50% {
        stroke-dasharray: 80 10;
        stroke-dashoffset: -160;
    }

    100% {
        stroke-dasharray: 1 98;
        stroke-dashoffset: -300;
    }
}

#spinner {
    transform-origin: center;
    animation-name: animation;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier;
    animation-iteration-count: infinite;
}