
/* Telemedicine Container */
.telemedicine-container {
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: teal;
}


.info-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
    .info-section {
        flex-direction: column;
    }
}