.payment-page {
  display: flex;
  justify-content:space-between;
  margin: auto;
  width: 80%;
  height: 100vh;
}

.payment-options{
  width: 40%;
  border: 1px solid gainsboro;
}

.payment-options > h1{
  font-size: 20px;
  font-weight: 550;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid gainsboro;
}

.payment-options>div{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-size: 16px;
}

.payment-options>div>div>h3{
  font-size: 20px ;
  padding: 10px;
}

.pay-now-btn{
border: 1px solid teal;
background-color: teal;
color: white;
width: 120px;
height: 40px;
border-radius: 20px;
margin: 20px;
}

.credit-card-option>h1{
font-size: 28px;
font-weight: 650;
padding: 10px;
}

.price-details{
  width: 40%;
  border: 1px solid gainsboro;
  height: 500px;
}

.price-details > h2{
 font-size: 20px;
  font-weight: 550;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid gainsboro;
}

.price-details>div{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-size: 16px;
}