#products.products{
    // border: 1px solid green;
    // height: 50vh;
    .container{
        display: grid;
        grid-template-columns: 30% 30% 30%;
        gap: 20px;
        justify-content: center;
        padding: 10px 0;
        .child{
            // border: 1px solid blue;
            align-items:end;
            // width: 300px;
            display: grid;
            text-align: center;
            box-shadow: 0 0 5px 0px rgba(0,0,0,0.2);
            gap: 10px;
            .childimage{

                img{
                    width: 100%;
                    padding: 10px 20px;
                }
                img:hover{
                    transform: scale(1.1);
                }
            }
            .childnamem{
           
                h2{
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    width: 300px;
                    margin: auto;
                }
              
            }
            .price{
                display: flex;
            justify-content: center;
            gap: 10px;
           
            }
          
            
            .cartbutton{
                padding: 15px 20px;
                width: 80%;
                margin: 0 10%;
                border: none;
                background-color: teal;
                color: white;
                margin-bottom: 10px;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
    .child:hover{
        box-shadow: 0 0 10px 0px rgba(0,0,0,0.3);
        cursor: pointer;
    }
}