#home{
     padding-top: 150px;
    // margin-top: 200px;
    background-color: rgb(252, 247, 237);
//   border: 2px solid green;
   height: 627px;
   display: flex;
   

   h2{
    font-weight: 400;
    margin-left: 20px;
    font-size: 59px;
        line-height: 1.1;
        letter-spacing: 0.095em;
    
    }
   .s1{
    // border: 1px solid black;
    width: 50%;
    margin-left:30px;
    
   }
   h4{
    font-size: 32px;
        line-height: 2;
        letter-spacing: 0.059em;
        font-weight: 500;
        font-size: 22px;
        margin-left: 25px;
   }
   button{
    margin-top: 25px;
    font-size: 22px;
        line-height: 1.7;
        letter-spacing: -0.007em;
        font-weight: 100;
        font-style: normal;
        margin-left: 30px;
        border: 1px solid teal;
        border-radius: 5px;
        color: teal;
        padding: 3px;
   }
   img{
    // border: 1px solid black;
    height: 29.6rem;
    object-fit: cover;
    
   
   }
   
}

.s3 {
    text-align: center;
    // background-color: aqua;
    // border: 1px solid blue;
    height: 200px;
    padding-top: 30px;
    h4{
        font-size: 22px;
            line-height: 1.1;
            letter-spacing: -0.015em;
    }
    h1{
        font-size: 37px;
            line-height: 1.5;
            font-weight: 600;
            font-style: normal;
            font-size: 52px;
    }
    p{
        font-size: 16px;
            line-height: 0.9;
            font-weight: 300;
            letter-spacing: -0.015em;
        }
        .p1{
            // border: 1px solid red;
            width: 30%;
            margin: auto;
            line-height: 1.1;
                letter-spacing: -0.009em;
        }
    }
  #c1{
    margin-top: 50px;
    //  border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-left: 29px;
   
    
    .pic{
        // border: 1px solid rgb(43, 0, 255);
        width: 90%;
        height: 180px;
        text-align: center;
        padding-top: 9px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        
    }
    img{
        margin-left: 10rem;
    }
    // .ss{
    //     margin-left: 11rem;
        
    // }
    p{
        font-size: 18px;
            
            line-height: 2;
                letter-spacing: 0.055em;
    }
  }

  #d1{
    margin-top: 80px;
    background-color: rgb(0, 82, 93);
    border: 1px solid black;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    
    .kk{
        //  border: 1px solid yellow;
        width:auto;
        text-align: center;
        padding-top: 20px;
        font-size: 72px;
            line-height: 108px;
           
            font-weight: 400;
    }
    p{
        line-height: 0;
        font-size: 17px;
    }
    h1{
        color: orange;
        font-weight: 900;
        font-size: 48px;
    }
     .ks{
        font-size: 17px;
            line-height: 0;
            letter-spacing: -0.009em;
            font-weight: 500;
    }
  }
