#home {
    padding-top: 150px;
    background-color: rgb(252, 247, 237);
    height: 644px;
    display: flex;

    h2 {
        font-weight: 400;
        margin-left: 20px;
        font-size: 59px;
        line-height: 1.1;
        letter-spacing: 0.095em;
    }

    .s1 {
        width: 50%;
        margin-left: 30px;
    }

    h4 {
        font-size: 32px;
        line-height: 2;
        letter-spacing: 0.059em;
        font-weight: 500;
        font-size: 22px;
        margin-left: 25px;
    }

    button {
        margin-top: 25px;
        font-size: 22px;
        line-height: 1.7;
        letter-spacing: -0.007em;
        font-weight: 100;
        font-style: normal;
        margin-left: 30px;
        border: 1px solid teal;
        border-radius: 5px;
        color: teal;
        padding: 3px;
    }

    img {
        height: 29.6rem;
        object-fit: cover;
        width: auto;
        margin: auto;
        margin-top: 20px;
    }
}

.s3 {
    text-align: center;
    height: 200px;
    padding-top: 30px;

    h4 {
        font-size: 22px;
        line-height: 1.1;
        letter-spacing: -0.015em;
    }

    h1 {
        font-size: 37px;
        line-height: 1.5;
        font-weight: 600;
        font-style: normal;
        font-size: 52px;
    }

    p {
        font-size: 16px;
        line-height: 0.9;
        font-weight: 300;
        letter-spacing: -0.015em;
    }

    .p1 {
        width: 30%;
        margin: auto;
        line-height: 1.1;
        letter-spacing: -0.009em;
    }
}

#c1 {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-left: 29px;

    .pic {
        width: 90%;
        height: 180px;
        text-align: center;
        padding-top: 9px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin-left: 20px;

        img {
           
            margin: auto;
        }
    }

    p {
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.055em;
    }
}

#d1 {
    margin-top: 80px;
    background-color: rgb(0, 82, 93);
    height: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    .kk {
        width: auto;
        text-align: center;
        padding-top: 20px;
        font-size: 72px;
        line-height: 108px;
        font-weight: 400;
    }

    p {
        line-height: 0;
        font-size: 17px;
    }

    h1 {
        color: orange;
        font-weight: 900;
        font-size: 48px;
    }

    .ks {
        font-size: 17px;
        line-height: 0;
        letter-spacing: -0.009em;
        font-weight: 500;
    }
}


// Media Queries

@media (max-width: 1024px) {
    #home {
        flex-direction: column;
        height: auto;

        .s1 {
            width: 100%;
            margin-left: 0;
        }

        h2 {
            font-size: 36px;
            margin-left: 0;
        }

        h4 {
            font-size: 26px;
            margin-left: 0;
        }

        button {
            font-size: 18px;
            margin-left: 0;
           
        }
    }

    img {
        height: auto;
        // width: 100%;
        // margin-left: 7.3rem;
    }

    .s3 {
        padding-top: 20px;

        h1 {
            font-size: 36px;
        }

        p {
            font-size: 14px;
        }

        .p1 {
            width: 60%;
            font-size: 30px;
        }
    }

    #c1 {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0;
    }

    #d1 {
        grid-template-columns: repeat(2, 1fr);
         height: 300px;
        .kk {
            font-size: 48px;
            line-height: 72px;
        }

        p {
            font-size: 14px;
        }

        h1 {
            font-size: 36px;
        }

        .ks {
            font-size: 14px;
        }
    }
}

@media (max-width: 768px) {
    .s3 {
        h1 {
            font-size: 28px;
        }

        p {
            font-size: 12px;
        }

        .p1 {
            width: 80%;
            font-size: 30px;
        }
    }

    #c1 {
        grid-template-columns: repeat(1, 1fr);
    }

    #d1 {
        grid-template-columns: repeat(2, 1fr);
        height: 300px;
    }
}

@media (max-width: 480px) {
    #home {
        padding-top: 100px;
    }

    .s3 {
        h4 {
            font-size: 18px;
        }

        h1 {
            font-size: 24px;
        }

        p {
            font-size: 10px;
        }

        .p1 {
            width: 100%;
        }
    }

    #c1 {
        p {
            margin: auto;
        }
    }

    #d1 {
        grid-template-columns: repeat(2, 1fr);

        .kk {
            font-size: 36px;
            line-height: 54px;
        }

        p {
            font-size: 10px;
        }

        h1 {
            font-size: 24px;
        }

        .ks {
            font-size: 10px;
        }
    }
}