#nav.nav {
  -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  height: 60px;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 10% 85%;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  // position: relative;
  position: fixed;
  width: 100%;
  top:0;
  z-index: 1;

  .logo {
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 6px;
    cursor: pointer;
    img {
        width: 35%;
        border-radius: 50%;
      }
  }

  .nav-content {
    display: grid;
    grid-template-columns: 80% 20%;

    ul {
      display: grid;
      grid-template-columns: 20% 20% 20% 20%;
      list-style: none;
      justify-content: center;
      align-items: center;
      color: teal;
      font-weight: 700;
      font-size: 18px;
      gap: 20px;

      li:hover {
        color: rgb(226, 111, 11);
        cursor: pointer;
      }
    }
  }

  .menubar {
    display: none;
  }

  .icon {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    gap: 10px;

    button {
      padding: 14px 5px;
      // background-color: teal;
      color:teal;
      border: transparent;
      font-size: 20px;
      cursor: pointer;
      font-size: 92%;
        line-height: 15px;
        font-weight: 900;
         &:hover{
         color: rgb(203, 105, 19);
         
        } 
    }
 

    p {
      // border: 1px solid rgb(224, 224, 224);
      padding: 10px;
      margin: auto;
    }
  }

  .close {
    display: none;

    button {
    background-color: #ffffff;
      font-size: 25px;
      margin-right: 18px;
      border-radius: 50%;
    }
  }

 
}

@media all and (max-width: 768px) {
  #nav.nav {
    .menubar {
      display: block;
      position: absolute;
      right: 30px;

      
            .logo {
            
              img {
                width: 100%;
              }
            }
            .three-line{
              width: 29px;
                height: 22px;
            }
    }

    .nav-content {
       box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);
      background-color: rgba(0, 0, 0, 0.5);
      position: fixed;
      z-index: 45;
      width: 100%;
      right: -100%;
      transition: right 2s;
      top: 0;
      text-align: center;
      
      grid-template-columns: 100%;
      ul {
        grid-template-columns: 100%;
        font-size: 20px;
        margin-top: 57px;
        padding: 0 20px;
        margin-bottom: 0px;
        color:black
      }

      .icon {
        flex-direction: column;
        
        margin-top: 10px;
        padding: 0 20px;
        top: 0;

        button {
          // width: 80%;
        font-size: 20px;
          font-weight: bold;
          margin: auto;
          color: black;
        }
        // .lock{
        // //  width: 100%;
        // //  margin: auto;
        // //  margin-left: 105px;
        // }
      }
    }

    .close {
      display: block;
      position: absolute;
      right: 10px;
      top: 10px;
    }
    p{
      padding: 0;
    }
  }
}
